POSTGRES_DB=pens
POSTGRES_USER=pens
POSTGRES_PASSWORD=replace-with-a-long-random-password
POSTGRES_PORT=5432
PENS_IMAGE_HOST_DIR=/var/www/html/resources/pens
PENS_REGISTRY=localhost:5000
PENS_IMAGE_TAG=latest
